{% extends 'base.html.twig' %}

{% block title %}Mon Article!{% endblock %}

{% block body %}

<div class="row">
  <div class="offset-2 col-md-8">

 

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary">Update</button>
{{ form_end(form) }}



<a class="btn btn-danger" href="{{path('remove_article', {id:article.id})}}">Delete</a>
</div>
</div>

{% endblock %}