{% extends 'base.html.twig' %} 

{% block body %}{% endblock %}
{% block articles %}
<div class="row" id="intro">
  <div class="col-md-10">
    <h1>Sais-tu vraiment qui tu es ?</h1>
    <h2>Découvre-le !</h2>
    <article>

      De tous les organismes vivants, l'Etre Humain est celui qui à su se placer au sommet de toutes les autres créatures, bien
      qu'il n'est jamais pu répondre à trois questions existentielles; "D'ou venons-nous ?", "Où allons-nous ?, mais la plus
      importante de toute est sans doute, "Qui sommes-nous ?" J'ai élaboré un algorythme complexe permettant de trouver ces
      réponses, elles étaient là, toutes proches, au plus profond de nous, et je vous fais don de mes savantes recherches
      sur ce blog, à travers mes articles afin que vous puissiez, comme moi, vous hissez au sommet de notre espèce !

    </article>
  </div>
</div>



<div class="row">
  {% for row in result %}

  <div class="col-md-6" id="bloc">
    <div class="card h-100">
      <h5 class="card-header">{{row.titre}}</h5>
      <a href="#">
        <img class="card-img-top" src="{{asset(row.url)}}" alt="">
      </a>
      <div class="card-body">
        <p class="card-text">{{row.contenu[:150]}} ...</p>
      </div>
      <div class="card-body">
        <p class="card-text">{{row.categorie}}</p>
      </div>

      <div class="card-footer">
        <a href="{{path('single_article',{id:row.id})}}" class="btn btn-warning">Lire la suite</a>
      </div>


      {% if is_granted("ROLE_ADMIN") %}
      <div class="card-footer">
        <a href="{{path('view_article',{id:row.id})}}" class="btn btn-primary">Modifier</a>

        <a class="btn btn-danger" href="{{path('remove_article', {id:row.id})}}">Supprimer</a>
      </div>
      {% endif %}

      



    </div>
  </div>






  {% endfor %} {% endblock articles %}