

a{
  outline:none;
}

header {
  width: 100%;
  height: 30rem;
  background: url("./image/header3.png");
  background-repeat: no-repeat;
  background-size: cover

}

.btn {
  margin-right: 15px;
}


#intro {
  text-align: justify;
  justify-content: center;
  margin: 100px;
  background-color: #333;
  padding: 50px;
}

#intro h1, h2 {
  text-align: center;
}

#intro h2 {
  text-align: center;
  padding-bottom: 40px;
}

#bloc {
  padding: 30px;
}


footer {
  width: 100%;
  height: 100px;
  background-color: #333;
}

footer a {
  margin: 50px auto;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}


#single {
  justify-content: center;
}

.navbar {
  background-color: rgb(238, 77, 2) !important;
  padding: 5px !important;
}