{% extends 'base.html.twig' %}


{% block articles %}
{# On rajoute le bouton submit manuellement dans le formulaire twig #}
<div class="row">
  
<div class="offset-3 col-md-6">
<h1>Ecrire un article</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary">Submit</button>
{{ form_end(form) }}
</div>
</div>
{% endblock articles%}