<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Mon Blog PHP !{% endblock %}</title>
  {% block stylesheets %}{% endblock %}


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"> 
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.css"> 
  
  <link rel="stylesheet" href="./css/style.css">
</head>


<body>

  <header class="container-fluid">
    
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('add_article') }}">Ajouter un Article<span class="sr-only">(current)</span></a>
                  </li>
            {% endif %}
              
              <li class="nav-item">
                <a class="nav-link" href="#">A Propos</a>
              </li>


              
              <li class="nav-item">
                <a class="nav-link" href="{{ path('connect') }}">Connexion</a>
              </li>
              

              
            </ul>
          </div>
        </nav>
  </header>



  {% block body %} {% endblock %}

  <div class="container">
    {% block articles %} {% endblock articles %}
  </div>


  


<footer class="container-fluid">
  <div class="row" id="copyright">
    </div>
  </div>

</footer>

 


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


</body>

</html>