{% extends 'base.html.twig' %} {% block body %}{% endblock %}
{% block articles %}



<div class="row">
    <div class="offset-1 col-md-10" id="single">

<h1>{{article.titre}}</h1>


<div>
    <img class="card-img-top" src="{{asset(article.url)}}" alt="Image de l'article" />
</div>


<div class="card-body">
    <p class="card-text">{{article.contenu}}</p>
</div>


<div class="card-body">
    <p class="card-text">{{article.categorie}}</p>
</div>


<div class="card-footer">
    <a class="btn btn-primary" href="{{path('home')}}">Retour à l'accueil</a>
</div>

</div>
</div>


{% endblock articles %}